.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: none;
  padding: 1%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease; /* Add a smooth background color transition */

}

.navbar-fixed.scrolling .navBar {
  background-color: white; /* Change background color when scrolling */
}

.logo {
  width: 100px; /* Adjust the width of the logo */
  margin-right: 10px; 
}
#link{
  margin-top: 30px;
}